%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "yulong", "1",
        [
         kernel,
         stdlib,
         sasl,
         yulong
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "yulong"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, yulong, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]},
       {app, eldap, [{incl_cond, exclude}]},
       {app, protobuffs, [{incl_cond, include}]},
       {app, meck, [{incl_cond, include}]},
       {app, gen_smtp, [{incl_cond, include}]}
      ]}.

{target_dir, "yulong"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "releases/\{\{rel_vsn\}\}/nodetool"},
           {copy, "yulong/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/yulong", "bin/yulong"},
           {copy, "files/yulong.cmd", "bin/yulong.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
           {copy, "../etc/gh.conf", "etc/gh.conf"},
           {copy, "../etc/system.config", "etc/system.config"},
           {copy, "../etc/world.crontab", "etc/world.crontab"}
          ]}.
